@media screen and (max-width: 1200px) {
    .about-img::before{
        height: 75%; 
    }
}

@media screen and (max-width: 992px) {
    .about-img::before{
        width: 75%;
        height: 90%; 
    }

    .navbar-nav a:hover::after {
        width: 20%;
      }
}

@media screen and (max-width: 576px) {
    .about-content{
       padding-top: 4rem;
    }

    
}